@font-face {
  font-family: Ailerons;
  src: url(/fonts/Ailerons-TrialVersion.otf);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --box-shadow-light: rgba(0, 0, 0, 0.2);
  --box-shadow-med: rgba(0, 0, 0, 0.4);
  --box-shadow-dark: rgba(0, 0, 0, 0.6);
  --box-glare-light: rgba(255, 255, 255, 0.2);
  --box-glare-med: rgba(255, 255, 255, 0.4);
  --box-glare-dark: rgba(255, 255, 255, 0.6);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#root {
  height: 100vh;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* ///////////////////////////////////////////////////////////////////// */
/* UI == USER INTERFACE //////////////////////////////////////////////// */
.version {
  width: fit-content;
  height: fit-content;
  position: fixed;
  bottom: 10px;
  left: -2px;
  z-index: 11111;
  font: 100 20px Ailerons;
  writing-mode: vertical-lr;
  text-orientation: upright;
  opacity: 0.4;
  pointer-events: none;
}

.game-title {
  position: fixed;
  bottom: 10px;
  left: 50%;
  z-index: 111;
  transform: translateX(-50%);
  font: 36px Ailerons, sans-serif;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 5px crimson;
  border-radius: 100%;
  box-shadow: 0 0 8px 1px rgba(0, 255, 255, 0.2),
    inset 0 0 8px 1px rgba(0, 255, 255, 0.2);
  background: radial-gradient(
    ellipse at 50% 50%,
    rgba(255, 255, 255, 0.2),
    rgba(0, 255, 255, 0.2) 50%,
    rgba(0, 255, 255, 0.2) 80%
  );
}

@media (max-width: 1000px) {
  .game-title {
    font-size: 18px;
    text-shadow: 0 0 3px crimson;
    box-shadow: 0 0 4px 1px rgba(0, 255, 255, 0.2),
      inset 0 0 4px 1px rgba(0, 255, 255, 0.2);
  }
}

.cross-symbol {
  text-shadow: 0 -2px 3px red;
  border: 1px dotted rgba(164, 245, 245, 0.7);
  border-radius: 100%;
  margin-right: -1px;
  box-shadow: 0 0 5px 1px cyan;
  background: radial-gradient(circle at 50% 50%, white 10%, transparent 50%);
}

/* INTERACTIVE BUTTONS */

.zoom-btns {
  position: fixed;
  right: 110px;
  bottom: 20px;
  z-index: 100;
  display: flex;
  gap: 10px;
}

.zoom-btns button {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  box-shadow: 2px 3px 5px 1px var(--box-shadow-light),
    inset 2px 2px 4px 2px var(--box-glare-med),
    inset -2px -2px 4px 2px var(--box-shadow-light);
}

.btn-zoom-in {
  background: url(/images/chevron-left-solid.svg) 20% 50% /20% no-repeat,
    url(/images/chevron-right-solid.svg) 80% 50% /20% no-repeat;
}

.btn-zoom-out {
  background: url(/images/chevron-left-solid.svg) 80% 50% /20% no-repeat,
    url(/images/chevron-right-solid.svg) 20% 50% /20% no-repeat;
}

/* PLAYROOMKIT BUTTONS OVERLAY */

.controls-overlay {
  position: fixed;
  bottom: 20px;
  right: 18px;
  z-index: 11;
  display: flex;
  flex-direction: column;
  gap: 10px;
  pointer-events: none;
}

.controls-overlay .btn {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  font-size: 15px;
  color: red;
  text-shadow: 0 0 3px cyan;
  box-shadow: inset 2px 2px 4px 2px var(--box-glare-med),
    inset -2px -2px 4px 2px var(--box-shadow-light),
    2px 3px 5px 1px var(--box-shadow-light);
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/images/chevron-up-solid.svg) center / 60% no-repeat;
}

.btn.rotate-left {
  background: url(/images/chevron-left-solid.svg) center / 25% no-repeat;
}

.btn.rotate-right {
  background: url(/images/chevron-right-solid.svg) center / 25% no-repeat;
}

.btn.fire {
  background: url(/images/bolt-solid.svg) center / 40% no-repeat;
}

/* ///////////////////////////////////////////////////////// */
/* LEADERBOARD ///////////////////////////////////////////// */
.leaderboard {
  position: fixed;
  top: 5px;
  left: 40px;
  z-index: 11;
  display: flex;
  gap: 10px;
  padding: 0 10px;
}

.player-info {
  font: 20px Ailerons, sans-serif;
  border-left: 2px solid;
  border-right: 1px solid;
  border-radius: 15px;
  padding: 0 10px 0 0;
  display: flex;
  align-items: center;
  gap: 3px;
}

.player-info img {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 100%;
  margin: 3px;
  filter: drop-shadow(0 0 5px cyan);
}

.player-info h2,
.player-info p {
  font-size: 25px;
}

.name {
  text-shadow: -1px 0 3px rgba(0, 0, 0, 0.5);
}

.kills {
  color: white;
  text-shadow: 0 0 5px cyan;
  filter: drop-shadow(0 0 5px cyan);
}

.deaths {
  color: red;
  text-shadow: 0 0 5px red;
  filter: drop-shadow(0 0 5px red);
}

.health-bar {
  width: 100px;
  height: 80%;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.health-meter {
  height: 100%;
  position: absolute;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  filter: drop-shadow(0 0 1px white);
}

p.health-text {
  width: 100%;
  height: 100%;
  color: white;
  text-shadow: 0 0 5px white;
  position: absolute;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: inset -1px 1px 2px 1px rgba(0, 55, 0, 0.5);
  font-size: 20px;
}

.btn-fullscreen {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1111111;
  background: url(../public/images/expand-cyan.svg) center / 40% no-repeat;
}

.btn-fullscreen.clicked {
  background: url(../public/images/compress-cyan.svg) center / 40% no-repeat;
}

@media (max-width: 1000px) {
  .player-info img {
    width: 0.75rem;
    height: 0.75rem;
    margin: 2px;
  }
  .player-info h2,
  .player-info p {
    font-size: 17px;
  }
  .btn-fullscreen,
  .btn-fullscreen.clicked {
    background-size: 30%;
  }
}
