@font-face {
  font-family: Ailerons;
  src: url(/fonts/Ailerons-TrialVersion.otf);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.game-title {
  position: fixed;
  bottom: 10px;
  left: 50%;
  z-index: 111;
  transform: translateX(-50%);
  font: 36px Ailerons, sans-serif;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 5px crimson;
  border-radius: 100%;
  box-shadow: 0 0 8px 1px rgba(0, 255, 255, 0.2),
    inset 0 0 8px 1px rgba(0, 255, 255, 0.2);
  background: radial-gradient(
    ellipse at 50% 50%,
    rgba(255, 255, 255, 0.2),
    rgba(0, 255, 255, 0.2) 50%,
    rgba(0, 255, 255, 0.2) 80%
  );
}

@media (max-width: 1000px) {
  .game-title {
    font-size: 18px;
    text-shadow: 0 0 3px crimson;
    box-shadow: 0 0 4px 1px rgba(0, 255, 255, 0.2),
      inset 0 0 4px 1px rgba(0, 255, 255, 0.2);
  }
}

.cross-symbol {
  text-shadow: 0 -2px 3px red;
  border: 1px dotted rgba(164, 245, 245, 0.7);
  border-radius: 100%;
  margin-right: -1px;
  box-shadow: 0 0 5px 1px cyan;
  background: radial-gradient(circle at 50% 50%, white 10%, transparent 50%);
}

.leaderboard {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  display: flex;
  gap: 2px;
  padding: 0 5px;
}

.player-info {
  font: 20px Ailerons, sans-serif;
  text-shadow: -1px 1px 2px black;
  border-left: 2px solid;
  border-right: 1px solid;
  border-radius: 15px;
  padding: 0 10px 0 0;
  display: flex;
  align-items: center;
  gap: 3px;
}

.player-info img {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 100%;
  margin: 3px;
  filter: drop-shadow(0 0 5px cyan);
}

.player-info h2,
.player-info p {
  font-size: 25px;
}

.btn-fullscreen {
  position: fixed;
  right: 0;
  z-index: 1000;
  color: white;
  padding: 7px 7px 20px 20px;
}

.svg-fullscreen {
  width: 30px;
  height: 30px;
}

@media (max-width: 1000px) {
  .player-info img {
    width: 0.75rem;
    height: 0.75rem;
    margin: 2px;
  }
  .player-info h2,
  .player-info p {
    font-size: 17px;
  }
  .svg-fullscreen {
    width: 20px;
    height: 20px;
  }
}
