.btn-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  left: 0;
  z-index: 111;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

.menu-bar {
  width: 70%;
  height: 2px;
  background: cyan;
  border-radius: 100%;
  position: absolute;
  box-shadow: 0 0 5px 1px cyan;
  filter: drop-shadow(0 0 5px cyan);
  transition: transform 500ms ease;
}

.menu-bar.close {
  background: red;
  box-shadow: 0 0 5px 1px red;
  filter: drop-shadow(0 0 5px red);
}

.menu {
  width: calc(100% - 36px);
  height: calc(100% - 40px);
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 110;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 5px 20px 1px rgba(0, 0, 0),
    inset 0 0 25px 1px rgba(255, 255, 255, 0.4);
  font: 35px Ailerons;
}

/* Menu CSSTransition */
.menu-enter {
  opacity: 0;
  transform: translate(-100%, -100%);
}

.menu-enter-active {
  opacity: 1;
  transform: translate(0%);
  transition: 500ms ease;
}

.menu-exit {
  opacity: 1;
  transform: translate(0%);
}

.menu-exit-active {
  opacity: 0;
  transform: translate(-100%, -100%);
  transition: 500ms ease;
}

.menu-header {
  width: 100%;
  border-left: 1px solid;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  position: relative;
}

.menu-header h1 {
  font-size: 35px;
}
.menu-header h2 {
  width: fit-content;
  font-size: 30px;
  border-left: 1px solid;
  border-right: 1px solid;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0 10px;
}

.maps {
  width: 100%;
  height: calc(100% - 80px);
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.map-btn {
  width: 30%;
  max-width: 300px;
  aspect-ratio: 1;
  background: radial-gradient(
      circle at 50% 50%,
      cyan 10%,
      rgba(255, 0, 255, 0.5) 20%,
      transparent 50%
    ),
    linear-gradient(white, black, white);
  color: black;
  font: 33px Ailerons;
  text-shadow: 2px -1px 2px red;
  box-shadow: 0 -5px 15px 1px rgba(255, 255, 255, 0.5);
  position: relative;
  border: solid transparent;
  border-radius: 10px;
}

@media (max-width: 650px) {
  .map-btn {
    width: 40%;
  }
}

.map-btn:hover,
.map-btn.active {
  filter: drop-shadow(0 0 5px cyan);
}

.map-btn:hover::after,
.map-btn.active::after {
  content: "SELECTED";
  border-top: 1px solid;
  border-right: 1px solid;
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 0 5px;
  box-shadow: 4px -2px 8px 1px rgba(0, 0, 0, 0.4);
}

.map-btn:hover::after {
  content: "SELECT?";
}

.map-btn.active:hover::after {
  content: "ALREADY SELECTED";
}
